<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mark Ekperi's Portfolio" />
    <meta name="Mark Ekperi" content="" />
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Mark's Projects</title>
</head>

<body>
    <header>
        <div class="menu-btn">
            <span class="menu-btn__burger">

            </span>
        </div>
        <nav class="nav">
            <ul class="menu-nav">
                <li class="menu-nav__item">
                    <a href="index.html" class="menu-nav__link">Home</a>
                </li>
                <li class="menu-nav__item">
                    <a href="about.html" class="menu-nav__link">About Me</a>
                </li>
                <li class="menu-nav__item active">
                    <a href="projects.html" class="menu-nav__link">Projects</a>
                </li>
                <li class="menu-nav__item">
                    <a href="contact.html" class="menu-nav__link">Contact Me</a>
                </li>
            </ul>

        </nav>
    </header>
    <main>
        <section class="projects">
            <div class="projects__bio-image">
                <h1 class="text-secondary">My Projects</h1>
            </div>
            <div class="projects__items">
                <div class="projects__item">
                    <img src="/static/images/commercejs.png" alt="My online Shop">
                    <div class="projects__btns">
                        <a href="#" class="projects__btn">
                            <i class="fas fa-eye"></i> Preview
                        </a>
                        <a href="#" class="projects__btn">
                            <i class="fab fa-github"></i> Github
                        </a>
                    </div>
                </div>

                <div class="projects__item">
                    <img src="/static/images/basicphotoeditor.png" alt="Basic Photo Editor">
                    <div class="projects__btns">
                        <a href="#" class="projects__btn">
                            <i class="fas fa-eye"></i> Preview
                        </a>
                        <a href="#" class="projects__btn">
                            <i class="fab fa-github"></i> Github
                        </a>
                    </div>
                </div>

                <div class="projects__item">
                    <img src="/static/images/net2vid.png" alt="Basic YouTube Video Downloader">
                    <div class="projects__btns">
                        <a href="#" class="projects__btn">
                            <i class="fas fa-eye"></i> Preview
                        </a>
                        <a href="#" class="projects__btn">
                            <i class="fab fa-github"></i> Github
                        </a>
                    </div>
                </div>

                <div class="projects__item">
                    <img src="/static/images/likecodepen.png" alt="Basic Codepen clone">
                    <div class="projects__btns">
                        <a href="#" class="projects__btn">
                            <i class="fas fa-eye"></i> Preview
                        </a>
                        <a href="#" class="projects__btn">
                            <i class="fab fa-github"></i> Github
                        </a>
                    </div>
                </div>

                <div class="projects__item">
                    <img src="/static/images/travelwebapp.png" alt="Travel Web App">
                    <div class="projects__btns">
                        <a href="#" class="projects__btn">
                            <i class="fas fa-eye"></i>Preview
                        </a>
                        <a href="#" class="projects__btn">
                            <i class="fab fa-github"></i> Github
                        </a>
                    </div>
                </div>

                <div class="projects__item">
                    <img src="/static/images/mylocus.png" alt="Location App with Mapbox">
                    <div class="projects__btns">
                        <a href="#" class="projects__btn">
                            <i class="fas fa-eye"></i> Preview
                        </a>
                        <a href="#" class="projects__btn">
                            <i class="fab fa-github"></i> Github
                        </a>
                    </div>
                </div>
            </div>


            <div class="social-icons">
                <a href="https://twitter.com/Ascendingspeck" target="_blank">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <a href="https://web.facebook.com/markdekperi" target="_blank">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a href="https://instagram.com/mark_doubi3" target="_blank">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a href="https://github.com/doubi3" target="_blank">
                    <i class="fab fa-github fa-2x"></i>
                </a>
                <a href="https://linkedin.com/in/markekperi" target="_blank">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
            </div>

            <footer>
                &copy; Copyright 2021
            </footer>
        </section>
    </main>
    <script src="https://kit.fontawesome.com/6e2657ae6b.js" crossorigin="anonymous"></script>
    <script src="/static/js/main.js"></script>

</body>

</html>